h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;

        @media(min-width:568px){
            font-size: 3rem;
            width: 300px;
            text-align: left;
        }
}

.form {
    display: flex;
    flex-direction: column;
}

.fields-tree {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); */
    gap: 1rem;
}

.field {
    border: 2px solid gainsboro;
    border-radius: 5px;
    padding: 15px .5rem;
 }

.container-hotels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.card-hotel {
    box-shadow: 0 0 15px #00000020;
    border: 4px solid white;
    border-radius: 6px;
    transition: .5s ease;

}

.card-hotel p {
    padding: 10px;
}

.card-hotel:has(input[type="radio"]:checked) {
    border: 4px solid green;
}

.hidden {
    display: none;
}

.btn-agendar {
    /* background-color: #dd1250; */
    background-color: #adff10;
    color: black;
    font-weight: bold;
    letter-spacing: 1.4px;
    border: 0;
    border-radius: 5px;
    padding: 12px;
    transition: .3s;
    max-width: 350px;
}

.btn-agendar:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

img {
    height: 310px;
    object-fit: cover;
    width: 100%;
}

.resume {
    background: rgb(16, 16, 96);
    border-radius: 45px 45px 0 0;
    color: white;
    margin-top: 2rem;
    padding: 2rem 36px;
   

    @media(min-width:568px){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .resume-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1.9rem;

        @media (min-width:568px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1024px;
            gap:7rem;
            align-items: start;
        }

        .resume-item span{
            color: gray;
            display: block;
            margin-bottom: 12px;
            font-style: italic;
            font-weight: 700;
            font-size: 14px;
        }
    }
}

@media (min-width:768px){
    .fields-tree{
        flex-direction: row;
    }

    .field{
        width: 100%;
    }
}